body{
    text-align:center;
    font-family: Arial;
    background-color:  #000000;
    color: rgb(255, 254, 254);
}
img{
    border-radius: 10px;
    transition: 0.3s;
}
button{
    margin: 10px;
    padding: 10px 30px;
    font-size: 16px;
}